{%  extends 'base.html.twig' %}

{% block body %}

    <h1>Voici la liste des annonces dispo</h1>

    {% for annonce in annonces %}
     <ul>
        <li>{{ annonce.id }}</li>
        <li>{{ annonce.title }}</li>
        <li>{{ annonce.content }}</li>
        <li>{{ annonce.price }}</li>
       <li> {{ annonce.createDate | date('d/m/Y')}}<li>
       <li><a href="{{ path('detail', {annonce: annonce.id}) }}">aller vers la liste</a> </li>

</ul>
{% endfor %}
    <a href="{{ path('home') }}">go home</a>






{% endblock %}